<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eBook++</title>
    <script src="/static/scripts/live2D.js"></script>
    <script src="/static/scripts/jquery.min.js"></script>
    <script src="/static/scripts/mouse.min.js"></script>
    <script src="/static/scripts/gotop.js"></script>
    <script type="text/javascript" src="/static/scripts/cursorReset.js"></script>
    <script type="text/javascript" src="/static/scripts/xueHua.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/cssgotop.css">
</head>
<body>
<div class="back-to-top cd-top faa-float animated cd-is-visible" style="top: -999px;"></div>
<div class="background-container">
    <div class="search">
        <div class="arrow"></div>
        <div class="serf" >
            <h2 style="margin-bottom: 5px">Search Page</h2>
            <div class="ser">
                <form id="searchForm"  method="GET">
                    <input type="text" id="searchInput" name="query" placeholder="Enter your search term">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="ok_content" style="margin: 0 15% 0 15%">
            <h1>E-Book</h1>
        </div>
    </div>
</div>



<script type="text/javascript">
    $.shuicheMouse({
        type: 11,
        color: "rgba(187,67,128,1)"
    })
</script>


<script>

    document.getElementById("searchForm").addEventListener("submit", function(event) {
        // 阻止默认的表单提交行为
        event.preventDefault();
        // 获取搜索框中的输入值
        var searchTerm = document.getElementById("searchInput").value;
        // 如果输入值不为空
        if (searchTerm.trim() !== "") {
            $.get('/?name=' + encodeURIComponent(searchTerm), function(data) {
                $('.ok_content').html(data);
            });
        }
    });

    var searchElement = document.querySelector('.search');
    var serfDiv = document.querySelector(".serf");
    var isComposing = false;

    // 添加鼠标进入事件监听器
    searchElement.addEventListener('mouseover', function() {
        serfDiv.style.display = 'block'; // 当鼠标进入时，设置 .serf 的 display 为 block
    });

    // 添加鼠标离开事件监听器
    searchElement.addEventListener('mouseout', function() {
        // 检查 searchElement 或其内部的任何元素是否是活动元素
        if (!(searchElement.contains(document.activeElement))) {
            serfDiv.style.display = 'none'; // 当鼠标离开且元素没有焦点时，设置 display 为 none
        }
    });

    // 添加点击事件监听器到整个文档
    document.addEventListener('click', function(event) {
        // 检查点击的元素是否是 searchElement 或其内部的任何元素
        if (!searchElement.contains(event.target)) {
            serfDiv.style.display = 'none'; // 当点击的元素不是 searchElement 或其内部的任何元素时，设置 display 为 none
        }
    });

    searchElement.addEventListener("compositionstart", function(event) {
        isComposing = true;
        serfDiv.style.display = "block";
    });
    searchElement.addEventListener("compositionend", function(event) {
        isComposing = false;
    });
</script>

<script>
    OML2D.loadOml2d({
        menus: {
            disable: true
        },
        tips: (_, currentIndex) => {
            return {
                copyTips: {
                    message: ['阿尼亚喜欢这个~']
                },
                welcomeTips: {
                    message: {
                        afternoon: "奥力给给，奥力给给",
                        daybreak: "奥力给给，奥力给给",
                        dusk: "奥力给给，奥力给给",
                        lateNight: "奥力给给，奥力给给",
                        morning: "奥力给给，奥力给给",
                        night: "奥力给给，奥力给给",
                        noon: "奥力给给，奥力给给",
                        weeHours: "奥力给给，奥力给给",
                    }
                },
                idleTips: {
                    message: ["阿尼亚喜欢吃花生", "哇酷哇酷！", "阿尼亚哈哈一拿酷得撒比洗", "奥力给给，奥力给给", "斯邦邦"]
                },
                style: {
                    top: '-30px',
                    'min-height': '60px',
                }
            };
        },
        models: [
            {
                path: '/static/ANIYA-walk/ANIYA.model3.json',
                position: [10, 0],
                scale: 0.06,
                stageStyle: {
                    height: 450
                },
            }
        ]
    });
</script>

</body>
</html>